h1{
    color: purple;
}

#hover-line{
    color: blue;
}

#home-card{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    border:3px double peru;
}

#home-card:hover{
    background-color:darkgrey;
}

#navbar{
    text-align:center;
    background-color:brown;
    height:30px;
    padding-top:6px;
    margin-bottom:5px;
}

#navbar a{
    text-decoration:none;
    color:white;
    margin:0 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card{
    align-items: center;
    border: 3px solid black;
    margin-top: 5px;
    width: 300px;
    height: 580px;
    margin: 3px auto;
    border-radius: 8px;
}

#image-card{
    height: 300px;
    width:300px;
    margin:auto;
}

img{
    width:300px;
    height:300px;
        border-radius: 8px;

}

#action{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;

}

button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 20px;
    width:100%;
}