h1 {
    color: purple;
}

#hover-line{
    color: blue;
}
/* property - value */
#home-card{
    text-align: center;
    border: 3px dotted peru;
}

#home-card:hover{
    background-color: darkgrey;
}