h1{
    color: purple;
}

#hover-line{
    color: blue;
}

#home-card{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    border:3px double peru;
}

#home-card:hover{
    background-color:darkgrey;
}

#navbar{
    text-align:center;
    background-color:brown;
    height:30px;
    padding-top:6px;
    margin-bottom:5px;
}

#navbar a{
    text-decoration:none;
    color:white;
    margin:0 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card{
    padding-top:20px;
}

#image-card{
    width:300px;
    margin:auto;
}

img{
    width:300px;
    height:300px;
}

#action{
    text-align:center;
}

button{
    padding:10px 20px;
    font-size:16px;
}