
p{
    text-align: center;
    color: rgb(93, 92, 92);
}
.left-bar{
            position: fixed;
            top: 20px;
            left: 20px;
        }
.right-bar{
            position: fixed;
            top: 20px;
            right: 20px;
        }
.search-section{
            text-align: center;
            margin-top: 100px;
        }
.blue{
    color: blue;
}

.lens{
    position: relative;   
    left: 40px; 

}

#search-box{
    padding: 15px 15px 15px 45px;
    width: auto;
    border-radius: 25px;
    width: 40%;
}

#suggestion-box{
    /* border: 2px solid black; */
    width: 40%;
    margin-left: 29%;
}

#suggestion-item{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}